body{
    background-color:floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}

h1,h2{
    color: floralwhite;
    background-color: orangered;
    padding-left: 1%;
}

label{
    display: inline-block;
    margin: 5px;
}

p{
    margin:0;
    font-size: 25px;
    color:floralwhite;
    border: 3px solid black;
    background-color: orangered;
    padding: 10px;
    margin: 10px;
}

input[type=submit], input[type=button]{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    background-color: orangered;
    border-color: black;
    color: floralwhite;
}

hr{    
    border: 5px solid orangered;
}

.flex-item{
    margin: 10px;
    padding-bottom: 5px;
    border: 3px solid black;    
    background-color: gray;
}

.incompleto{
    border-color: red;  
    background-color: rgb(243, 126, 126);  
}

.cambioAnio{
    background-color: rgb(226, 113, 38);
}

.editar{
    align-items: flex-end;
}

#meses{
    display: flex;
    flex-wrap: wrap;    
    width: 95%;    
    margin: 0 auto;
}

#meses .cabeceraMes{
    background-color: darkorange;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:center;
    justify-content: space-between;
}

#meses .cabeceraMes h4{    
    margin: 0;
    display: flex;
     align-items: center;     
}

#meses .cabeceraMes input{    
    margin: 0;
    margin-right: 8px;
    display: flex;
    align-self: center;    
}

#meses div label{    
    color: floralwhite;    
}

#meses div input{
    text-align: right;
    color: black;    
    margin-left: 6px;
    margin-right: 6px;
}

#meses div input:disabled{    
    color: floralwhite;        
}



#cargarPrueba{
    background-color:darkslategrey;
}


@media(max-width:910px){
    input[type=submit], input[type=button]{
        display: block;
        width: 100%;
        font-size: 25px;
    }

    #meses{
        width: 50%;
    }

}

@media(max-width:860px){
    #meses{
        width: 100%;
        display: block;
    }

}